<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32016">
        <setting label="32026" type="lsep"/>
        <setting label="Configure as Screensaver using Skin Interface Settings." type="lsep"/>"
        <setting id="set_fullscreen_when_screensaver" label="When Started as Screensaver, Switch to FullScreen Mode"
                 type="bool" default="false"/>
        <setting label="Ratings Filters" type="lsep"/>
        <setting id="rating_limit" type="enum" label="32040" default="0" values="None|G|PG|PG-13|R|NC-17"/>
        <setting id="do_notyetrated" type="bool" enable="!eq(-1,0)" label="32041" default="false"/>
        <setting id="do_nr" type="bool" enable="!eq(-2,0)" label="32042" default="false"/>
        <setting label="Playing Options" type="lsep"/>
        <setting id="numberOfTrailersToPlay" type="number" label="32000" default="10"/>
        <setting id="group_trailers" type="bool" label="32053" default="false"/>
        <setting id="trailers_per_group" type="number" enable="eq(-1,true)" label="32054" default="5"/>
        <setting id="group_delay" type="number" enable="eq(-2,true)" label="32055" default="10"/>
        <setting id="do_animation" type="bool" label="32001" default="true"/>
        <setting id="show_title" type="bool" label="32008" default="true"/>
        <setting id="timeToDisplayDetailInfo" type="number" label="Seconds to Display Movie Information" default="20"/>
        <setting label="Adjust Volume of Media" type="lsep"/>
        <setting id="normalize_volume_of_local_trailers" type="bool"
                 label="Normalize Volume of Local Media"
                 default="false"/>
        <setting id="normalize_volume_of_downloaded_trailers" type="bool"
                 label="Normalize Volume of Downloaded Media"
                 default="false"/>
        <setting id="do_volume" type="bool" label="32006" default="false"/>
        <setting id="volume" label="32011" type="number" enable="eq(-1,true)" default="100"/>

    </category>
    <category label="Genres">
        <setting label="Only show trailers for movies in the following Genres/Sub-Genres" type="lsep"/>
        <setting id="do_genre" type="bool" label="32002" default="false"/>
        <setting label="Major Genres" type="lsep"/>
        <setting id="g_action" type="enum" enable="eq(-2,true)" label="32028" values="Ignore|Include|Exclude"
                 default="0"/>
        <setting id="g_adventure" type="enum" enable="eq(-3,true)" label="Adventure" values="Ignore|Include|Exclude"
                 default="0"/>
        <setting id="g_comedy" type="enum" enable="eq(-4,true)" label="32029" values="Ignore|Include|Exclude"
                 default="0"/>
        <setting id="g_drama" type="enum" enable="eq(-5,true)" label="32031" values="Ignore|Include|Exclude"
                 default="0"/>
        <setting id="g_fantasy" type="enum" enable="eq(-6,true)" label="32033" values="Ignore|Include|Exclude"
                 default="0"/>
        <setting id="g_family" type="enum" enable="eq(-7,true)" label="32032" values="Ignore|Include|Exclude"
                 default="0"/>
        <setting id="g_horror" type="enum" enable="eq(-8,true)" label="32035" values="Ignore|Include|Exclude"
                 default="0"/>
        <setting id="g_romance" type="enum" enable="eq(-9,true)" label="32037" values="Ignore|Include|Exclude"
                 default="0"/>
        <setting id="g_scifi" type="enum" enable="eq(-10,true)" label="32038" values="Ignore|Include|Exclude"
                 default="0"/>
        <setting id="g_western" type="enum" enable="eq(-11,true)" label="Western" values="Ignore|Include|Exclude"
                 default="0"/>

        <setting label="Secondary Genres" type="lsep"/>
        <setting id="g_animation" type="enum" enable="eq(-13,true)" label="Animation" values="Ignore|Include|Exclude"
                 default="0"/>
        <setting id="g_biography" type="enum" enable="eq(-14,true)" label="Biography" values="Ignore|Include|Exclude"
                 default="0"/>
        <setting id="g_crime" type="enum" enable="eq(-15,true)" label="Crime" values="Ignore|Include|Exclude"
                 default="0"/>
        <setting id="g_docu" type="enum" enable="eq(-16,true)" label="32030" values="Ignore|Include|Exclude"
                 default="0"/>
        <setting id="g_history" type="enum" enable="eq(-17,true)" label="History" values="Ignore|Include|Exclude"
                 default="0"/>
        <setting id="g_musical" type="enum" enable="eq(-18,true)" label="32036" values="Ignore|Include|Exclude"
                 default="0"/>
        <setting id="g_mystery" type="enum" enable="eq(-19,true)" label="Mystery" values="Ignore|Include|Exclude"
                 default="0"/>
        <setting id="g_thriller" type="enum" enable="eq(-20,true)" label="32039" values="Ignore|Include|Exclude"
                 default="0"/>
        <setting id="g_war" type="enum" enable="eq(-21,true)" label="War" values="Ignore|Include|Exclude" default="0"/>

        <setting label="Sub-Genres" type="lsep"/>
        <setting id="g_black_comedy" type="enum" enable="eq(-23,true)" label="Dark Comedy"
                 values="Ignore|Include|Exclude" default="0"/>
        <setting id="g_epic" type="enum" enable="eq(-24,true)" label="Epic" values="Ignore|Include|Exclude"
                 default="0"/>
        <setting id="g_film_noir" type="enum" enable="eq(-25,true)" label="Film Noir" values="Ignore|Include|Exclude"
                 default="0"/>
        <setting id="g_foreign" type="enum" enable="eq(-26,true)" label="32034" values="Ignore|Include|Exclude"
                 default="0"/>
        <setting id="g_melodrama" type="enum" enable="eq(-27,true)" label="Melodrama" values="Ignore|Include|Exclude"
                 default="0"/>
        <setting id="g_music" type="enum" enable="eq(-28,true)" label="Music" values="Ignore|Include|Exclude"
                 default="0"/>
        <setting id="g_pre_code" type="enum" enable="eq(-29,true)" label="Pre-Code" values="Ignore|Include|Exclude"
                 default="0"/>
        <setting id="g_satire" type="enum" enable="eq(-30,true)" label="Satire" values="Ignore|Include|Exclude"
                 default="0"/>
        <setting id="g_screwball" type="enum" enable="eq(-31,true)" label="Screwball Comedy"
                 values="Ignore|Include|Exclude" default="0"/>
        <setting id="g_swashbuckler" type="enum" enable="eq(-32,true)" label="Swashbuckler"
                 values="Ignore|Include|Exclude" default="0"/>
        <setting id="g_tv_movie" type="enum" enable="eq(-33,true)" label="TV Movie" values="Ignore|Include|Exclude"
                 default="0"/>
        <setting id="g_war_documentary" type="enum" enable="eq(-34,true)" label="War Documentary"
                 values="Ignore|Include|Exclude" default="0"/>
    </category>
    <category label="32015">
        <setting label="32012" type="lsep"/>
        <setting id="do_library" type="bool" label="32021" default="true"/>
        <setting id="do_library_remote_trailers" type="bool" enable="eq(-1,true)"
                 label="Include movies with remote trailers" default="true"/>
        <setting id="do_library_no_trailer_info" type="bool" enable="eq(-2,true)"
                 label="Include Movies with no Trailer Info" default="false"/>
        <setting id="hide_watched" type="bool" enable="eq(-3,true)" label="32004" default="false"/>
        <setting id="watched_days" type="number" enable="eq(-4,true) + eq(-1,true)" label="32005" default="365"/>
    </category>
    <category label="Remote Trailers">
        <setting label="When Media Is Downloaded..." type="lsep"/>
        <setting id="do_remote_trailers" type="bool" label="Include Trailers" default="true"/>
        <setting id="do_clips" type="bool" label="32018" default="false"/>
        <setting id="do_featurettes" type="bool" label="32019" default="false"/>
        <setting id="do_teasers" type="bool" label="Include Teasers" default="false"/>
    </category>
    <category label="32045">
        <setting label="32046" type="lsep"/>
        <setting id="do_tmdb" type="bool" label="32044" default="true"/>
        <setting id="allow_foreign_languages" enable="eq(-1,true)" type="bool" label="Allow foreign languages"
                 default="false"/>
        <setting id="tmdb_trailer_type" label="32043" type="enum" enable="eq(-2,true)" default="0"
                 lvalues="32047|32048|32049|32050|32051"/>
        <!--  Popular | Top Rated | Upcoming | Now Playing | All -->
        <setting id="tmdb_sort_order" type="enum" enable="eq(-3,true)" label="Prefer Trailers with" default="0"
                 values="Newest | Oldest| Highest Rated | Lowest Rated | Most Votes | Least Votes"/>
        <setting id="tmdb_vote_filter" type="enum" enable="eq(-4,true)" label="Filter based on average rating"
                 default="0"
                 values="None|Greater or Equal|Less or Equal"/>
        <setting id="tmdb_vote_value" type="number" enable="eq(-5,true) + gt(-1,0)"
                 label="Rating to compare against (0-10)"
                 default="6"/>
        <setting id="include_old_movie_trailers" type="bool" enable="eq(-6,true)"
                 label="Download trailers for old movies"
                 default="false"/>
        <setting id="tmdb_enable_select_by_year_range" type="bool" enable="eq(-7,true) + eq(-1,true)"
                 label="Filter by year range"/>
        <setting id="tmdb_year_range_minimum" type="number" enable="eq(-8,true) + eq(-1,true)" label="Minimum year"/>
        <setting id="tmdb_year_range_maximum" type="number" enable="eq(-9,true) + eq(-2,true)" label="Maximum year"/>
        <setting id="tmdb_max_number_of_trailers" type="number" enable="eq(-10,true)" label="Maximum Number of trailers"
                 default="500"/>
    </category>
    <category label="32025">
        <setting label="32013" type="lsep"/>
        <setting id="do_itunes" type="bool" label="32023" default="true"/>

        <setting id="itunes_trailer_type" type="enum" enable="eq(-1,true)" label="32043"
                 values="Coming Soon|Just Added|Popular|Exclusive|All" default="4"/>
        <!-- <setting id="quality" type="enum" enable="eq(-2,true)" label="32014" values="480p|720p|1080p" default="0"/>
        <setting label="32102" type="lsep"/> -->
    </category>
    <category label="32024">
        <setting label="32009" type="lsep"/>
        <setting id="do_folder" type="bool" label="32022" default="false"/>
        <setting id="path" type="folder" enable="eq(-1,true)" label="32010" default=""/>
    </category>

    <category label="Playlists/Reports">
    </category>
    <category label="Cache">
        <setting label="Downloaded Data Cache" type="lsep"/>
        <setting id="use_remote_data_cache" type="bool" label="Cache Remote Query Results" default="true"/>
        <setting id="remote_db_cache_path" enable="eq(-1,true)" label="Data Cache Path" type="folder" source=""
                 option="writeable"
                 default="special://userdata/addon_data/script.video.randomtrailers/cache"/>
        <setting id="json_cache_expiration_days" enable="eq(-2,true)" type="number"
                 label="Maximum Days to Keep Cached Movie Data"
                 default="30"/>

        <setting label="Downloaded Media Cache" type="lsep"/>
        <setting id="use_trailer_cache" type="bool" label="Cache Downloaded Media" default="true"/>
        <setting id="trailer_cache_path" type="folder" label="Media Cache Path" source=""
                 option="writeable" enable="eq(-1,true)"
                 default="special://userdata/addon_data/script.video.randomtrailers/cache"/>
        <setting id="trailer_cache_expiration_days" enable="eq(-2,true)" type="number"
                 label="Maximum Days to Keep Cached Media"
                 default="30"/>

        <setting label="Data Cache Size Limits" type="lsep"/>
        <setting id="limit_cached_json" enable="eq(-8,true)" type="bool" label="Limit Data Disk Usage" default="false"/>
        <setting id="limit_number_of_cached_json_files" enable="eq(-9,true) + eq(-1,true)" type="bool"
                 label="Limit Number of Data Files" default="false"/>
        <setting id="max_number_of_cached_json_files" type="number" enable="eq(-10,true) + eq(-2,true) + eq(-1,true)"
                 label="Maximum Number of Data Files" default="1000"/>
        <setting id="limit_size_of_cached_json_disk" enable="eq(-11,true) + eq(-3,true)" type="bool"
                 label="Limit Size of Data Cache"
                 default="false"/>
        <setting id="max_size_of_cached_json_disk" type="number" enable="eq(-12,true) + eq(-4,true) + eq(-1,true)"
                 label="Maximum Size of Data Cache (MB)" default="50"/>
        <setting id="limit_percent_of_cached_json_disk" enable="eq(-13,true) + eq(-5,true)" type="bool"
                 label="Limit Filesystem % for Data Cache" default="false"/>
        <setting id="max_percent_of_cached_json_disk" type="number" enable="eq(-14,true) + eq(-6,true) + eq(-1,true)"
                 label="Maximum % of Filesystem for Data Cache" default="5"/>

        <setting label="Media Cache Size Limits" type="lsep"/>
        <setting id="limit_cached_trailers" enable="eq(-12,true)" type="bool" label="Limit Trailer Disk Usage"
                 default="false"/>
        <setting id="limit_number_of_cached_trailers" enable="eq(-13,true) + eq(-1,true)" type="bool"
                 label="Limit Number of Media Files"
                 default="false"/>
        <setting id="max_number_of_cached_trailers" type="number" enable="eq(-14,true) + eq(-2,true) + eq(-1,true)"
                 label="Maximum Number of Media Files" default="1000"/>
        <setting id="limit_size_of_cached_trailers" enable="eq(-15,true) + eq(-3,true)" type="bool"
                 label="Limit Size of Media Cache"
                 default="false"/>
        <setting id="max_size_of_cached_trailers" type="number" enable="eq(-16,true) + eq(-4,true) + eq(-1,true)"
                 label="Maximum Size of Media Cache (MB)" default="1024"/>
        <setting id="limit_percent_of_cached_trailers" enable="eq(-17,true) + eq(-5,true)" type="bool"
                 label="Limit Filesystem % for Media Cache" default="false"/>
        <setting id="max_percent_of_cached_trailers" type="number" enable="eq(-18,true) + eq(-6,true) + eq(-1,true)"
                 label="Maximum % of Filesystem for Media Cache" default="25"/>
    </category>

    <category label="Advanced">
        <setting label="A Personal API Key can reduce rejected requests due to traffic" type="lsep"/>
        <setting id="tmdb_api_key" type="text"
                 label="Personal API key for TMDB, The Movie Database. See themoviedatabase.org for more information"
                 default=""/>
        <setting label="Storing the Movie's TMDB ID in The Database Reduces Requests to TMDB." type="lsep"/>
        <setting id="updateTmdbId" type="bool" label="Update TMDB ID in database" default="true"/>

        <setting label="Miscellaneous" type="lsep"/>
        <setting id="prompt_for_settings" type="bool" label="Configure Settings on Manual Startup" default="false"/>
        <setting id="max_trailer_length" type="number" label="Maximum Trailer Length (seconds)" default="600"/>
        <setting id="do_fullscreen" type="bool" label="32007" default="false"/>

    </category>
    <category label="Experimental">
        <Setting label="Reporting Options" type="lsep"/>
        <setting id="max_report_top_actors" type="number"
                 label="Number of top billed actors to include in hidden report" default="6"/>
        <setting label="Debug Options" type="lsep"/>
        <setting id="do_debug" type="bool" label="Enable Debug" default="false"/>
        <setting id="do_trace" type="bool" label="Enable Debug Trace" default="false"/>
        <setting id="do_trace_stats" type="bool" label="Enable Debug Stats" default="false"/>
    </category>

</settings>

