<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32016">
        <!-- <setting label="32026" type="lsep"/> Doesn't show consecutive lseps? -->
        <setting label="32056" type="lsep"/>
        <setting id="set_fullscreen_when_screensaver" type="bool" label="32057" default="false"/>
        <setting label="32058" type="lsep"/>
        <setting id="rating_limit" type="enum" label="32040" default="0" values="None|G|PG|PG-13|R|NC-17"/>
        <setting id="do_notyetrated" type="bool" enable="!eq(-1,0)" label="32041" default="false"/>
        <setting id="do_nr" type="bool" enable="!eq(-2,0)" label="32042" default="false"/>
        <setting label="32059" type="lsep"/>
        <setting id="numberOfTrailersToPlay" type="number" label="32000" default="10"/>
        <setting id="group_trailers" type="bool" label="32053" default="false"/>
        <setting id="trailers_per_group" type="number" enable="eq(-1,true)" label="32054" default="5"/>
        <setting id="group_delay" type="number" enable="eq(-2,true)" label="32055" default="10"/>
        <setting id="do_animation" type="bool" label="32001" default="true"/>
        <setting id="show_title" type="bool" label="32008" default="true"/>
        <setting id="timeToDisplayDetailInfo" type="number" label="32060" default="20"/>
        <setting label="32061" type="lsep"/>
        <setting id="normalize_volume_of_local_trailers" type="bool"
                 label="32062"
                 default="false"/>
        <setting id="normalize_volume_of_downloaded_trailers" type="bool"
                 label="32063"
                 default="false"/>
        <setting id="do_volume" type="bool" label="32006" default="false"/>
        <setting id="volume" label="32011" type="number" enable="eq(-1,true)" default="100"/>

    </category>
    <category label="Genres">
        <setting label="32064" type="lsep"/>
        <setting id="do_genre" type="bool" label="32002" default="false"/>
        <setting label="32065" type="lsep"/>
        <setting id="g_action" type="enum" enable="eq(-2,true)" label="32028" lvalues="32066|32067|32068"
                 default="0"/>
        <setting id="g_adventure" type="enum" enable="eq(-3,true)" label="Adventure" lvalues="32066|32067|32068"
                 default="0"/>
        <setting id="g_comedy" type="enum" enable="eq(-4,true)" label="32029" lvalues="32066|32067|32068"
                 default="0"/>
        <setting id="g_drama" type="enum" enable="eq(-5,true)" label="32031" lvalues="32066|32067|32068"
                 default="0"/>
        <setting id="g_fantasy" type="enum" enable="eq(-6,true)" label="32033" lvalues="32066|32067|32068"
                 default="0"/>
        <setting id="g_family" type="enum" enable="eq(-7,true)" label="32032" lvalues="32066|32067|32068"
                 default="0"/>
        <setting id="g_horror" type="enum" enable="eq(-8,true)" label="32035" lvalues="32066|32067|32068"
                 default="0"/>
        <setting id="g_romance" type="enum" enable="eq(-9,true)" label="32037" lvalues="32066|32067|32068"
                 default="0"/>
        <setting id="g_scifi" type="enum" enable="eq(-10,true)" label="32038" lvalues="32066|32067|32068"
                 default="0"/>
        <setting id="g_western" type="enum" enable="eq(-11,true)" label="32069" lvalues="32066|32067|32068"
                 default="0"/>

        <setting label="32070" type="lsep"/>
        <setting id="g_animation" type="enum" enable="eq(-13,true)" label="32071" lvalues="32066|32067|32068"
                 default="0"/>
        <setting id="g_biography" type="enum" enable="eq(-14,true)" label="32072" lvalues="32066|32067|32068"
                 default="0"/>
        <setting id="g_crime" type="enum" enable="eq(-15,true)" label="32073" lvalues="32066|32067|32068"
                 default="0"/>
        <setting id="g_docu" type="enum" enable="eq(-16,true)" label="32030" lvalues="32066|32067|32068"
                 default="0"/>
        <setting id="g_history" type="enum" enable="eq(-17,true)" label="32074" lvalues="32066|32067|32068"
                 default="0"/>
        <setting id="g_musical" type="enum" enable="eq(-18,true)" label="32036" lvalues="32066|32067|32068"
                 default="0"/>
        <setting id="g_mystery" type="enum" enable="eq(-19,true)" label="32075" lvalues="32066|32067|32068"
                 default="0"/>
        <setting id="g_thriller" type="enum" enable="eq(-20,true)" label="32039" lvalues="32066|32067|32068"
                 default="0"/>
        <setting id="g_war" type="enum" enable="eq(-21,true)" label="32076" lvalues="32066|32067|32068" default="0"/>

        <setting label="32077" type="lsep"/>
        <setting id="g_black_comedy" type="enum" enable="eq(-23,true)" label="32078"
                 lvalues="32066|32067|32068" default="0"/>
        <setting id="g_epic" type="enum" enable="eq(-24,true)" label="32079" lvalues="32066|32067|32068"
                 default="0"/>
        <setting id="g_film_noir" type="enum" enable="eq(-25,true)" label="32080" lvalues="32066|32067|32068"
                 default="0"/>
        <setting id="g_foreign" type="enum" enable="eq(-26,true)" label="32034" lvalues="32066|32067|32068"
                 default="0"/>
        <setting id="g_melodrama" type="enum" enable="eq(-27,true)" label="32081" lvalues="32066|32067|32068"
                 default="0"/>
        <setting id="g_music" type="enum" enable="eq(-28,true)" label="32082" lvalues="32066|32067|32068"
                 default="0"/>
        <setting id="g_pre_code" type="enum" enable="eq(-29,true)" label="32083" lvalues="32066|32067|32068"
                 default="0"/>
        <setting id="g_satire" type="enum" enable="eq(-30,true)" label="32084" lvalues="32066|32067|32068"
                 default="0"/>
        <setting id="g_screwball" type="enum" enable="eq(-31,true)" label="32085"
                 lvalues="32066|32067|32068" default="0"/>
        <setting id="g_swashbuckler" type="enum" enable="eq(-32,true)" label="32086"
                 lvalues="32066|32067|32068" default="0"/>
        <setting id="g_tv_movie" type="enum" enable="eq(-33,true)" label="32087" lvalues="32066|32067|32068"
                 default="0"/>
        <setting id="g_war_documentary" type="enum" enable="eq(-34,true)" label="32088"
                 lvalues="32066|32067|32068" default="0"/>
    </category>
    <category label="32015">
        <setting label="32012" type="lsep"/>
        <setting id="do_library" type="bool" label="32021" default="true"/>
        <setting id="do_library_remote_trailers" type="bool" enable="eq(-1,true)"
                 label="32089" default="true"/>
        <setting id="do_library_no_trailer_info" type="bool" enable="eq(-2,true)"
                 label="32090" default="false"/>
        <setting id="hide_watched" type="bool" enable="eq(-3,true)" label="32004" default="false"/>
        <setting id="watched_days" type="number" enable="eq(-4,true) + eq(-1,true)" label="32005" default="365"/>
    </category>
    <category label="Remote Trailers">
        <setting label="32091" type="lsep"/>
        <setting id="do_remote_trailers" type="bool" label="32092" default="true"/>
        <setting id="do_clips" type="bool" label="32018" default="false"/>
        <setting id="do_featurettes" type="bool" label="32019" default="false"/>
        <setting id="do_teasers" type="bool" label="32093" default="false"/>
    </category>
    <category label="32045">
        <setting label="32046" type="lsep"/>
        <setting id="do_tmdb" type="bool" label="32044" default="true"/>
        <setting id="allow_foreign_languages" enable="eq(-1,true)" type="bool" label="32094"
                 default="false"/>
        <setting id="tmdb_trailer_type" label="32043" type="enum" enable="eq(-2,true)" default="0"
                 lvalues="32047|32048|32049|32050|32051"/>
        <!--  Popular | Top Rated | Upcoming | Now Playing | All -->
        <setting id="tmdb_sort_order" type="enum" enable="eq(-3,true)" label="32095" default="0"
                 lvalues="32100|32101|32102|32103|32104|32105"/>
        <setting id="tmdb_vote_filter" type="enum" enable="eq(-4,true)" label="32096"
                 default="0"
                 lvalues="32097|32098|32099"/>
        <setting id="tmdb_vote_value" type="number" enable="eq(-5,true) + gt(-1,0)"
                 label="32106"
                 default="6"/>
        <setting id="tmdb_include_old_movie_trailers" type="bool" enable="eq(-6,true)"
                 label="32107"
                 default="false"/>
        <setting id="tmdb_enable_select_by_year_range" type="bool" enable="eq(-7,true) + eq(-1,true)"
                 label="32108"/>
        <setting id="tmdb_year_range_minimum" type="number" enable="eq(-8,true) + eq(-1,true)"
                 label="32109"/>
        <setting id="tmdb_year_range_maximum" type="number" enable="eq(-9,true) + eq(-2,true)"
                 label="32110"/>
        <setting id="tmdb_max_number_of_trailers" type="number" enable="eq(-10,true)"
                 label="32111"
                 default="500"/>
        <setting id="tmdb_max_download_movies" type="number" enable="eq(-11,true)"
                 label="32112"
                 default="500"/>
    </category>
    <category label="32025">
        <setting label="32013" type="lsep"/>
        <setting id="do_itunes" type="bool" label="32023" default="true"/>

        <setting id="itunes_trailer_type" type="enum" enable="eq(-1,true)" label="32043"
                 lvalues="32113|32114|32115|32116|32117" default="4"/>>
    </category>
    <category label="32024">
        <setting label="32009" type="lsep"/>
        <setting id="do_folder" type="bool" label="32022" default="false"/>
        <setting id="path" type="folder" enable="eq(-1,true)" label="32010" default=""/>
    </category>

    <category label="32118">
    </category>
    <category label="32119">
        <setting label="32120" type="lsep"/>
        <setting id="use_remote_data_cache" type="bool" label="32121" default="true"/>
        <setting id="remote_db_cache_path" enable="eq(-1,true)" label="32122" type="folder" source=""
                 option="writeable"
                 default="special://userdata/addon_data/script.video.randomtrailers/cache"/>
        <setting id="json_cache_expiration_days" enable="eq(-2,true)" type="number"
                 label="32123"
                 default="30"/>

        <setting label="32124" type="lsep"/>
        <setting id="use_trailer_cache" type="bool" label="32125" default="true"/>
        <setting id="trailer_cache_path" type="folder" label="32126" source=""
                 option="writeable" enable="eq(-1,true)"
                 default="special://userdata/addon_data/script.video.randomtrailers/cache"/>
        <setting id="trailer_cache_expiration_days" enable="eq(-2,true)" type="number"
                 label="32127"
                 default="30"/>
        <setting id="trailer_exixtance_cache_check_days" enable="eq(-3,true)" type="number"
                 label="32128" default="7" />

        <setting label="32129" type="lsep"/>
        <setting id="limit_cached_json" enable="eq(-8,true)" type="bool" label="32130" default="false"/>
        <setting id="limit_number_of_cached_json_files" enable="eq(-9,true) + eq(-1,true)" type="bool"
                 label="32131" default="false"/>
        <setting id="max_number_of_cached_json_files" type="number" enable="eq(-10,true) + eq(-2,true) + eq(-1,true)"
                 label="32132" default="1000"/>
        <setting id="limit_size_of_cached_json_disk" enable="eq(-11,true) + eq(-3,true)" type="bool"
                 label="32133"
                 default="false"/>
        <setting id="max_size_of_cached_json_disk" type="number" enable="eq(-12,true) + eq(-4,true) + eq(-1,true)"
                 label="32134" default="50"/>
        <setting id="limit_percent_of_cached_json_disk" enable="eq(-13,true) + eq(-5,true)" type="bool"
                 label="32135" default="false"/>
        <setting id="max_percent_of_cached_json_disk" type="number" enable="eq(-14,true) + eq(-6,true) + eq(-1,true)"
                 label="32136" default="5"/>

        <setting label="32137" type="lsep"/>
        <setting id="limit_cached_trailers" enable="eq(-12,true)" type="bool" label="32138"
                 default="false"/>
        <setting id="limit_number_of_cached_trailers" enable="eq(-13,true) + eq(-1,true)" type="bool"
                 label="32139"
                 default="false"/>
        <setting id="max_number_of_cached_trailers" type="number" enable="eq(-14,true) + eq(-2,true) + eq(-1,true)"
                 label="32140" default="1000"/>
        <setting id="limit_size_of_cached_trailers" enable="eq(-15,true) + eq(-3,true)" type="bool"
                 label="32141"
                 default="false"/>
        <setting id="max_size_of_cached_trailers" type="number" enable="eq(-16,true) + eq(-4,true) + eq(-1,true)"
                 label="32142" default="1024"/>
        <setting id="limit_percent_of_cached_trailers" enable="eq(-17,true) + eq(-5,true)" type="bool"
                 label="32143" default="false"/>
        <setting id="max_percent_of_cached_trailers" type="number" enable="eq(-18,true) + eq(-6,true) + eq(-1,true)"
                 label="32144" default="25"/>
    </category>

    <category label="32145">
        <setting label="32146" type="lsep"/>
        <setting id="tmdb_api_key" type="text"
                 label="32147"
                 default=""/>
        <setting label="32148" type="lsep"/>
        <setting id="updateTmdbId" type="bool" label="Update TMDB ID in database" default="true"/>

        <setting label="32149" type="lsep"/>
        <setting id="prompt_for_settings" type="bool" label="32150" default="false"/>
        <setting id="max_trailer_length" type="number" label="32151" default="600"/>
        <setting id="do_fullscreen" type="bool" label="32007" default="false"/>
        <setting label="32153" type="lsep"/>
        <setting id="enable_movie_stats" type="bool" label="32169" default="false" />
        <setting id="report_actor_stats" type="bool" enable="eq(-1,true)"
                 label="32166" default="false" />
        <setting id="max_report_top_actors" type="number" enable="eq(-1,true)"
                 label="32154" default="6"/>
        <setting id="report_genre_stats" type="bool" enable="eq(-3,true)"
                 label="32167" default="false"/>
        <setting id="report_tag_stats" type="bool" enable="eq(-4,true)"
                 label="32168" default="false"/>
    </category>
    <category label="32152">
        <setting label="32155" type="lsep"/>
        <setting id="do_debug" type="bool" label="32156" default="false"/>
        <setting id="log_level" type="enum" label="32157" lvalues="32158|32159|32160|32161|32162|32163" default="0"/>
        <setting id="do_trace" type="bool" label="32164" default="false"/>
        <setting id="do_trace_stats" type="bool" label="32165" default="false"/>
    </category>

</settings>

